.body {
    background-color: blue;
}

.wrapper {
    position: relative;
    border-color: black;
}

.swiper {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #afafaf;
    border-style: solid;
}

.swiper-wrapper {
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swiper-slide img {
}