.body {
}

.wrapper {
    position: relative;
}

.swiper {
    height: 450px;
    border-radius: 20px;
    border: 1px solid #afafaf;
    border-style: solid;
}

.swiper-wrapper {
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbs-slider {
    height: 150px;
}

.thumbs-wrapper {

}

.thumbnail-img {

}